ion-title{
    --backgroud:blue;
    text-align: center;
    color: red;
}
ion-header{
    --ion-background-color:#CCFF00;
    --ion-text-color: blue;
    --ion-text-size:20px;
}
ion-content{
    --background:#333333;
}
ion-item{
    margin-top: 10px;
    border: 1px greenyellow solid;
}
.bg{
    width: 100px;
    height: 50px;
    --ion-background-color: #CCFF00;
}
ion-item:hover {

    --ion-background-color: #9FB6CD;
    border-color: red;
}