<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vocabulary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card  *ngFor="let data of mData">
      <ion-item-sliding>

          <ion-item lines="none">
              {{data.tiengtrung}}
          </ion-item>
      
          <ion-item-options>
              <ion-button color="danger" (click)="removeItem(data)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-card>


  </ion-list>

</ion-content>