ion-title{
    --backgroud:blue;
    text-align: center;
}
ion-header{
    --ion-background-color:#CCFF00;
    --ion-text-color: blue;
    --ion-text-size:20px;
}
ion-content{
    --background:#333333;
}
ion-item{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
}
ion-card{
    padding: 10px;
    margin-bottom: 20px;
    --background: white;
}
ion-label{
    width: 100%;
    text-align: center;
    
   
}
ion-icon {
    width: 33%;
}
