<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>{{nameLevel}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
   <ion-item lines="none">
     <ion-label text-wrap style=" font-weight: bold; font-size: 25px;" >
      {{giaotiep.tiengtrung}}
     </ion-label>
   </ion-item>

   <ion-item lines="none" class="box_effect">
    <ion-icon class="red" src="../assets/icon/speaker.svg" (click) ="speak()"></ion-icon>
    <ion-icon src="{{iconLike}}" (click) ="likeItem()"></ion-icon>
    <ion-icon name="copy" (click) ="coppy()"></ion-icon>
   </ion-item>
   
 
  </ion-card>
  <ion-card *ngIf="showPinjin">
    <ion-item lines="none">
      <ion-label text-wrap>
        {{giaotiep.pinjin}}
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    
  <ion-item lines="none">
    <ion-label text-wrap>
     {{giaotiep.tiengviet}}
    </ion-label>
  </ion-item>
  </ion-card>
  <ion-item class="functionClick" lines="none" >

    <ion-button (click) ="pre()" *ngIf="checkPre">
     
        <ion-img  slot="start" src ="../assets/icon/back.png" ></ion-img>
      
    </ion-button>
    <ion-button (click) ="next()">
        <ion-img slot="end"src ="../assets/icon/next.png" ></ion-img>

    </ion-button>
    
  </ion-item>
  
</ion-content>
