<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>{{nameLevel}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
   <ion-item lines="none">
     <ion-label text-wrap >
      {{giaotiep.tiengtrung}}
     </ion-label>
   </ion-item>

   <ion-item lines="none" class="box_effect">
    <ion-icon name="volume-high"></ion-icon>
    <ion-icon name="thumbs-up"></ion-icon>
    <ion-icon name="add-circle"></ion-icon>
   </ion-item>
   
 
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-label text-wrap>
        {{giaotiep.pinjin}}
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    
  <ion-item lines="none">
    <ion-label text-wrap>
     {{giaotiep.tiengviet}}
    </ion-label>
  </ion-item>
  </ion-card>
  <ion-item class="functionClick" lines="none" >

    <ion-button (click) ="pre()" *ngIf="checkPre">
        <ion-img src ="../assets/icon/back.png" ></ion-img>
      Preview
    </ion-button>
    <ion-button (click) ="next()">
        <ion-img src ="../assets/icon/next.png" ></ion-img>
        Next
    </ion-button>
    
  </ion-item>
  
</ion-content>
