<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Giao Tiep Tieng Trung
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- row 1 -->
    <ion-row>
      <ion-col>
        <ion-button class="circle">
          <ion-icon slot="icon-only" src="../../assets/icon/ic_study.svg"></ion-icon>
          
        </ion-button>
        <ion-label >水平一</ion-label>
      </ion-col>
      <ion-col>
        <ion-button class="circle">
          <ion-icon slot="icon-only" src="../../assets/icon/ic_study.svg"></ion-icon>
        </ion-button>
        <ion-label >水平二</ion-label>
      </ion-col>

    </ion-row>
    <!-- row 2 -->
    <ion-row>
      <ion-col>
        <ion-button class="circle">
          <ion-icon slot="icon-only" src="../../assets/icon/ic_study.svg"></ion-icon>
        </ion-button>
        <ion-label >水平三</ion-label>
      </ion-col>
      <ion-col>
        <ion-button class="circle">
          <ion-icon slot="icon-only" src="../../assets/icon/ic_study.svg"></ion-icon>
        </ion-button>
        <ion-label >水平四</ion-label>
      </ion-col>

    </ion-row>
    <!-- row 3 -->
    <ion-row>
      <ion-col>
        <ion-button class="circle">
          <ion-icon slot="icon-only" src="../../assets/icon/ic_study.svg"></ion-icon>
        </ion-button>
        <ion-label >生词</ion-label>
      </ion-col>
      <ion-col>
        <ion-button class="circle" (click) ="setting()">
          <ion-icon slot="icon-only" src="../../assets/icon/ic_study.svg"></ion-icon>
        </ion-button>
        <ion-label >设置</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>