<ion-content>

  <form [formGroup]="formRegister" (ngSubmit)="register()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h1 color="primary">REGISTER</h1>
          </div>
          
          <div padding>
            <ion-item>
                <ion-icon name="contact"></ion-icon>
              <ion-input  type="text" placeholder="UserName" formControlName ="user"  required></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="key"></ion-icon>
              <ion-input  type="password" placeholder="Password" formControlName ="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="key"></ion-icon>
            <ion-input  type="password" placeholder="Config Password" formControlName ="configPassowrd" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="mail"></ion-icon>
          <ion-input  type="email" placeholder="Email" formControlName ="email" required></ion-input>
        </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="formRegister.invalid" expand="block" >Register</ion-button>
          </div>
          <div  padding>
            <ion-button  (click) ="login()"size="large"   expand="full" >Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>